@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

@font-face {
    font-family: 'Patrima';
    src: url('../fonts/hinted-Patrima-Bold.woff2') format('woff2'),
        url('../fonts/hinted-Patrima-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Patrima';
    src: url('../fonts/hinted-Patrima-Regular.woff2') format('woff2'),
        url('../fonts/hinted-Patrima-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
