@font-face {
    font-family: 'Patrima Outline';
    src: url('hinted-Patrima-Outline.woff2') format('woff2'),
        url('hinted-Patrima-Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Patrima';
    src: url('hinted-Patrima-Bold.woff2') format('woff2'),
        url('hinted-Patrima-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Patrima Hatched Outline';
    src: url('hinted-Patrima-HatchedOutline.woff2') format('woff2'),
        url('hinted-Patrima-HatchedOutline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Patrima Hatched';
    src: url('hinted-Patrima-Hatched.woff2') format('woff2'),
        url('hinted-Patrima-Hatched.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Patrima';
    src: url('hinted-Patrima-Regular.woff2') format('woff2'),
        url('hinted-Patrima-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

